.cache
node_modules
dest/devtools/styles.css
dest/devtools/styles.css.map
dest/devtools/bundle.js
dest/background.js
dest/privilegedContent.js
dest/icon-*.png
credentials
test/public/bundle.js
test/public/styles.css
test/public/styles.css.map
web-ext-artifacts/
