html {
  height: 100%;
  font-size: 11px;
}

body {
  display: flex;
  margin: 0;
  height: 100%;
  color: rgb(74, 74, 79);
  font-family: monospace;
}

body.dark {
  /* #if process.env.TARGET === 'chrome'
  background-color: rgb(36, 36, 36);
  /* #else */
  background-color: rgb(42, 42, 46);
  /* #endif */
  color: rgb(177, 177, 179);
  scrollbar-color: rgb(115, 115, 115) rgb(60, 60, 61);
}

body.dark ::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background-color: transparent;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5);
}

body.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(51, 51, 51);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
  opacity: 1;
  pointer-events: auto;
}

[data-tooltip]::after {
  position: absolute;
  bottom: -0.182rem /* -2px */;
  left: 0;
  z-index: 1;
  display: block;
  padding: 0.545rem /* 6px */ 1.455rem /* 16px */;
  border-radius: 0.455rem /* 5px */;
  background-color: rgb(48, 64, 81);
  color: white;
  content: attr(data-tooltip);
  white-space: pre;
  opacity: 0;
  transition: opacity 0.2s;
  transform: translateY(100%);
  pointer-events: none;
}

[data-tooltip]::before {
  position: absolute;
  bottom: -0.182rem /* -2px */;
  left: 2.727rem /* 30px */;
  display: block;
  width: 0;
  height: 0;
  border-right: 0.455rem /* 5px */ solid transparent;
  border-bottom: 0.455rem /* 5px */ solid rgb(48, 64, 81);
  border-left: 0.455rem /* 5px */ solid transparent;
  content: '';
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}
